/node_modules
.env
/applications
eng.traineddata
/data/testData.js
/storage
/allure-report
/allure-results-auth
/allure-results-sale
/allure-results-void
test/screenshots
/test/specs/draft/*.js
/test/specs/draft/*.txt
test-script.js
wdio.conf.copy.js
.github/